attrs==26.1.0
audioread==3.1.0
auraloss==0.4.0
certifi==2026.7.22
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.5.1
coloredlogs==15.0.1
cycler==0.12.1
decorator==5.3.1
distlib==0.4.3
fast_bss_eval==0.1.4
filelock==3.19.1
fire==0.4.0
flake8==3.8.2
flake8-bugbear==23.3.12
flake8-comprehensions==3.17.0
flake8-executable==2.1.3
flake8-pyi==20.5.0
flatbuffers==25.12.19
fonttools==4.60.2
future==1.0.0
h5py==3.14.0
humanfriendly==10.0
identify==2.6.15
idna==3.19
joblib==1.1.0
jsonpatch==1.33
jsonpointer==3.0.0
kaldiio==2.18.0
kiwisolver==1.4.7
lazy-loader==0.5
librosa==0.10.1
lightning-utilities==0.15.2
llvmlite==0.43.0
lmdb==1.3.0
matplotlib==3.5.1
mccabe==0.6.1
mir_eval==0.7
mpmath==1.3.0
msgpack==1.1.2
networkx==3.2.1
nodeenv==1.10.0
numba==0.60.0
numpy==1.22.4
onnxruntime==1.19.2
packaging==26.3
pesq==0.0.4
pillow==11.3.0
pip==26.0.1
platformdirs==4.4.0
pooch==1.9.0
pre-commit==3.5.0
protobuf==6.33.6
pycodestyle==2.6.0
pycparser==2.23
pyflakes==2.2.0
pyparsing==3.3.2
pystoi==0.3.3
python-dateutil==2.9.0.post0
python-discovery==1.6.0
PyYAML==6.0
requests==2.31.0
scikit-learn==1.1.3
scipy==1.7.3
setuptools==80.9.0
silero-vad==5.1.2
six==1.17.0
soundfile==0.12.1
soxr==1.1.0
sympy==1.14.0
tableprint==0.9.1
termcolor==3.1.0
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
torch==1.12.1
torchaudio==0.12.1
torchmetrics==1.2.0
torchnet==0.0.4
tornado==6.5.8
tqdm==4.64.0
typing_extensions==4.14.1
urllib3==2.6.3
virtualenv==21.7.9
visdom==0.2.4
wcwidth==0.8.3
websocket-client==1.9.0
wheel==0.45.1
